

<div class="home-callout text-center container-fluid">

  <h1>Welcome to UpSkill-Rails</h1>
  <h3>A membership site where you can learn rails easily!</h3>


</div>


<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">
            Your Profile
          </h2>
          <% if current_user.profile %>
            <%= link_to "Edit your Profile", edit_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
            <%= link_to "View your Profile", user_path(id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% else %>
            <%= link_to "Create your Profile", new_user_profile_path(current_user) %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">
            The Community
          </h2>
          <p>Visit the community to check out other members!</p>
          <%= link_to "Visit Community", "#", class: 'btn btn-default btn-lg btn-block' %>
        </div>
      </div>

    <% else %>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4>Sign up for free and get basic access!</h4>
        <br>

        <%= link_to "Sign Up", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Paid Membership</h2>
        <br>
        <%= link_to "Sign Up", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    <%= link_to "Create Profile", new_user_profile_path(current_user) if user_signed_in? %>

    <% end %>


  </div>
</div>
